<mat-drawer-container class="example-container" autosize *ngIf="!session">
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>close</mat-icon>
    </button><br>
      <img>
        <a class="btnint" mat-button (click)="drawer.toggle()" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="btnint" mat-button (click)="drawer.toggle()" routerLink="/vendite" routerLinkActive="active">Vendite</a>
        <a class="btnint" mat-button (click)="drawer.toggle()" routerLink="/prodotti" routerLinkActive="active"> Prodotto</a>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>The 28</span>
      <span class="example-spacer"></span>
      <button (click)="logOut()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>face</mat-icon>
      </button>

    </mat-toolbar>
  </div>
    <br>
    <router-outlet></router-outlet>

</mat-drawer-container>
<app-login *ngIf="session"></app-login>
